node_modules
vendor
.git
.env
.env.backup
.env.production
storage/*.key
.phpunit.result.cache
npm-debug.log
yarn-error.log
*.log
.DS_Store
Thumbs.db
.idea
.vscode
/public/hot
/public/storage
/public/build
/storage/logs/*
!/storage/logs/.gitignore
/bootstrap/cache/*
!/bootstrap/cache/.gitkeep
